body {
  margin: 0;
  background-color: #FCFDFD;
}

.App {
  min-height: 100vh;
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  background-color: #FCFDFD;
}